html{
    background-color: black;
    border-spacing: 
}

body{
    background-color: white;
    height: 400px;
    margin: 30% 5%  auto;
}

.main{
    background-color: aqua;
    width: 150px;;
    height: 100%;
    margin: 0 inherit;
}

.main-table{
    width: 400px;
    padding: 50px;
    
}

th{
    text-align: left;
}

.main-table, th, td {
    border: solid black 1px;
    border-collapse: collapse;
    
}

th, td{
    padding: 10px;
}