body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #6b727e, #7c858d, #8f989d, #a5abac, #bcbebe);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

/* This is the main box login box :) */

.loginbox{
    width: 420px;
    height: 320px;
    background-color: #dbdbdb;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,1);
}

h1{
    margin-top: 20px;
    color: white;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
    
}

.loginbox input{
    width:100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    text-align: center;
    border:none;
    border-bottom: solid white 1px;
    background: transparent ;
    outline:none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    
}